body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #111;
    margin: 0;
    flex-direction: column;
    padding: 30px;
    gap: 40px;
}
h1{
    color:gray;
}
p{
    color:gray;
}
.bulb {
    width: 60px;
    height: 60px;
    background-color: #111; 
    border-radius: 50%;
    
}
.button{
    background-color: aqua;
    color: white;
    padding: 7px;
    border: 2px white solid;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0.2;
}
.button:hover{
    opacity: 1;
}












